/** Question editing **/

/* !important is needed in moodle 2.6 to override the display block when window width is reduced. */
#page-mod-sliclquestions-view fieldset {
    margin-bottom: 0px!important;
}
#page-mod-sliclquestions-view .qn-elem-head,
#page-mod-sliclquestions-view .fitem {
    margin: 0;
    display: inline-block;
    width: 40%;
    float: right;
}
#page-mod-sliclquestions-view .fitem_ftextarea,
#page-mod-sliclquestions-view .ftextarea {
    width: 100%;
}
#page-mod-sliclquestions-view .personality .qn-elem-head,
#page-mod-sliclquestions-view .personality .fitem {
    width: 60%;
}
#page-mod-sliclquestions-view .fgroup {
    width: 100%;
}
#page-mod-sliclquestions-view .fitem_actionbuttons {
    clear: both;
    width: 100%;
    margin-top: 20px;
}
#page-mod-sliclquestions-view .qn-elem-head-3,
#page-mod-sliclquestions-view .fgroup span {
    display: inline-block;
    width: 30%;
    text-align: center;
}
#page-mod-sliclquestions-view #fgroup_id_group_1 .fgroup span {
    width: 20%;
}
#page-mod-sliclquestions-view .qn-elem-head-5,
#page-mod-sliclquestions-view .personality .fgroup span {
    display: inline-block;
    width: 19%;
    text-align: center;
}
#page-mod-sliclquestions-view .slicl-answer .question {
    width: 59%;
}
#page-mod-sliclquestions-view .slicl-answer .personality .question {
    width: 39%;
}
#page-mod-sliclquestions-view .fgroup input[type='radio'] {
    margin: 0;
}
#page-mod-sliclquestions-view .slicl-row {
    clear: both;
}
#page-mod-sliclquestions-view .qn-elem-head {
    padding: 0 15px;
}
#page-mod-sliclquestions-view #fgroup_id_group_1 {
    width: 60%;
    float: left;
}
.slicl-legend {
     float: left;
     font-size:inherit;
     width: auto;
}
h3.slicl-legend {
    float: none;
    display: block;
    width: 100%;
    font-size: 1.2em;
}
.slicl-question p {
    margin-bottom: 0.6em;
    margin-top: 0.5em;
}
.slicl-question {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    background-color: #e4f1fa;
}
.dir-rtl .slicl-container {
    text-align: right;
}
.slicl-info {
    float: left;
    width: auto;
    padding: 7px;
    background: #eee;
    font-weight: bold;
}
.slicl-info h2.slicl-number {
    margin: 0px;
    font-size: 1.5em;
    line-height: 1.2em;
}
.slicl-question {
    margin: 0 0 0.5em;
    overflow:auto;
}
.slicl-content {
    margin-bottom: 10px;
    margin-left: 55px;
}
.slicl-container {
    color:black;
    display: inherit;
    margin-left: 10px;
}
.slicl-answer {
    font-size: 12px;
    display: block;
    width: 90%;
    margin: 0 auto;
}
.slicl-answer .slicl-row {
    border-bottom: 1px solid rgb(229,229,229);
    padding: 5px;
}
.slicl-answer .fitemtitle {
    display: none;
}
.slicl-answer .question {
    display: inline-block;
    width: 59%;
}

